<head>
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <h1 class="background">This is our <%=title%>
    </h1>
    <h3>My City name is <%=output.name%>
    </h3>
    <h4>Temperature is <%=output.main.temp%> °C
    </h4>
    <p>The description is <%=output.weather[0].description%>
    </p>
</body>